<html>
<head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 13px Helvetica, Arial;
    }

    form {
      background: #000;
      padding: 3px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    form input {
      border: 0;
      padding: 10px;
      width: 90%;
      margin-right: .5%;
    }

    form button {
      width: 9%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages li {
      padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
      background: #eee;
    }
  </style>
</head>
<body>
  <select>
    <option value="Room1">Room1</option>
    <option value="Room2">Room2</option>
  </select>
<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off"/>
  <button>Send</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(() => {
    const name = prompt('What your name'); //이것도 nickName보내주세여 채팅에서의 변수명은 name
    const socket = io();
    let room = ['room1', 'room2']; //room을 미리 갯수에 맞게 리스트를 만들어놔야함 /room/count api 사용
    const roomIdx = 0; //room[roomIdx]로 사용하는 배열이니 0부터 시작해야함
    socket.emit('joinRoom', roomIdx, name);

    $('select').change(() => {
      socket.emit('leaveRoom', roomIdx, name);
      roomIdx++;
      roomIdx = roomIdx % 2;
      socket.emit('joinRoom',roomIdx, name);

    });

    $('form').submit(() => {
      socket.emit('chat message', name, $('#m').val(), roomIdx);
      $('#m').val('');
      return false;
    });

    socket.on('chat message', (name, msg, roomIdx) => {
      $('#messages').append($('<li>').text(name + '  :  ' +
        msg));
    });

    socket.on('leaveRoom', (roomIdx, name) => {
      $('#messages').append($('<li>').text(name + '    leaved '
        + room[roomIdx] + ' :('));
    });
    socket.on('joinRoom', (roomIdx,name) => {
      $('#messages').append($('<li>').text(room[roomIdx]+'에 ' + name + '    님이 참여했습니다. '));
        
    });
  });
</script>
</body>
</html>